* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: lavenderblush;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: aqua;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;

    .left {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        flex: 8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.footer{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: cadetblue;
}